{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

<div class="mb-3">
    {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.firstname) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.lastname) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.email) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.phoneNumber, 'Numéro de téléphone', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.phoneNumber) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.address, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.address) }}
    </div>
</div>

<div class="text-center">
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
